  body {
    padding: 60px;
    background-color: var(--color-bg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(51, 12, 88);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 98%;
  }

  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1rem;
  }

  p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  